
.bak {
    /* border: 1px solid black; */
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ci {
    align-items: center;
}



/* start of hero and nav bar */
.main-nav {
    background-size: cover;
    position: relative;
    padding: 30px;
    /* height: 800px; */
    background-image: url('/assets/nav_back.png');
}

.center__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 50%;
    filter: blur(90px);
    width: 100%;
    height: 100%;
    background-color: black;

}

.right__items {
    margin-top: -75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.left__items {
    margin-top: -75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.left__items ul,
.right__items ul {
    display: flex;
    list-style: none;

}

.left__items ul li,
.right__items ul li {
    color: #fff;
    font-family: 'Kadwa', serif;
    cursor: pointer;
    font-weight: 700;
    font-size: 19px;
    margin-right: 30px;
}

.center__items img {
    cursor: pointer;
    height: 195px;
}


.hero__main {
    padding-top: 20px;
    padding-bottom: 90px;
}

.left__image__hero {
    margin-left: 40px;
}

.left__image__hero img ,.right__image__hero img{
    height: 450px;
}
.right__image__hero{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;

}
.center__item__hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 59px;
    align-items: center;
}
.center__item__hero h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-weight: 400;
    color: #fff;
    font-size: 50px;
}
.center__hero__button {
    margin-top: 36px;
    border: none;
    padding: 25px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Kadwa', serif;
    border-radius: 13px;
    font-size: 20px;
    background-color: #C95304;
}


/* end of Hero and Nav Bar  */

.customcc{
    padding-left:100px;
    padding-right: 100px;
}

/* section 2 css */
.section__two{
    padding-top: 80px;

    background-color: #FBFBFB;
}
.sec2_title h1{
    color: #47A6CA;
    font-size: 50px;
    font-family: 'Bungee', cursive;


}
.sec2_content p {
    margin-top: 40px;
    color: #494949;
    font-family: 'Arbutus Slab', serif;
    font-size: 18px;
}
.right__image__sec2 {
    display: flex;
    justify-content: flex-end;
}
.right__image__sec2 img{
    border-radius: 18px;

}
.section__three{
    padding-top: 80px;
    background-color: #FBFBFB;
}
._item_feature i{
    font-size: 50px;
    display: flex;
    margin-top: 10px;
    place-content: flex-end;
}


._right_feature{
    position: relative;
}

._right_feature{
    display: flex;
    place-content: flex-end;
    flex-wrap: wrap;
}
._about_top h3{
    color: #FF6505;
    font-family: 'Bungee', cursive;
    font-size: 25x;
}
._about_top{
    margin-bottom: 40px;
}
._title_about h1{
    color: #47A6CA;
    font-family: 'Bungee', cursive;

}
._title_about{
    margin-bottom: 50px;
}
._detail_about p{
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
}
._detail_about{
    margin-bottom: 50px;
}
._item_feature h3 ,._item_feature p {
    font-family: 'Archivo', sans-serif;
}
._item_feature p{
    font-size: 14px;
}


/* start of section 4 */
.section__four{
    padding-top: 80px;
    background-color: #FBFBFB;
}
._section_name h1{
    font-family: 'Bungee', cursive;
    color:#47A6CA;
    font-size: 46px;
    text-align: center;
}
._section_name{
    margin-bottom: 50px;
}
._attraction_card img{
    width: 100%;
}
._attraction_card{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

._attraction_name{
    position: absolute;
    padding: 10px;
    bottom: 0;
    width: 100%;
    font-family: 'Bungee', cursive;
    color: #fff;
    background-color: rgba(2, 26, 35, 0.81);
    top: 88%;
    transition: all 0.4s linear;
}

._attraction_card:hover ._attraction_name{
    height: auto;
  
}
._attraction_name p{
    transition: height 0.4s linear;
    font-family: 'Archivo', sans-serif;
}
._attraction_card:hover ._attraction_name{
    top: 50%;
}
._attraction_name h1{
    font-size: 30px;
}


/* section 5 strat */


.section__five{
    padding-top: 80px;
    background-color: #FBFBFB;
}
.sec__title__five h1{
    text-align: center;
    font-family: 'Bungee', cursive;
    color:#47A6CA;
    font-size: 46px;
}
.sec__title__five h1 span{
    color:#FF2473;
    text-decoration: underline;
 
}
.sec__des__five p{
    font-family: 'Arbutus Slab', serif;
    font-size: 15px;
    text-align:center ;
    color: #3E3B3B;
}
.sec__des__five{
    margin-top: 20px;
    margin-bottom: 20px;
}



/* section 6 css */

.section__six{
    padding-top: 80px;
    background-color: #FBFBFB;

}
.sec__subtitle__six h3{
    text-align: center;
    font-family: 'Bungee', cursive;
    font-size: 20px;

}
.sec__title__six h1{
    text-align: center;
    font-family: 'Bungee', cursive;
    color: #47A6CA;
}
.sec__title__six span{

    color:#FF2473
}
.sec__dec__six p{
    text-align: center;   
    color: #4E4B4B;
    font-family: 'Arbutus Slab', serif;

}
._photo__wrapper{
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 400px;
}
.__date__photo{
    bottom: 0;
    right: 10px;
    position: absolute;

}
.__date__photo h3{
    text-align: center;
    bottom: 0;
    background:rgba(0, 0, 0, 0.467);
    border-radius: 9px;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-left: 20px;
}
._photo__wrapper img {
    border-radius: 10px;
    height: 275px;
    object-fit: cover;
    width: 100%;
}
.__event__right h1{
    font-family: 'Archivo', sans-serif;
    color: #2f2f2f;
    font-size: 32px;
    font-weight: 600;
}
.__event__right p{
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    color: #4E4B4B;
    font-family: 'Arbutus Slab', serif; 
}

.__cards__upcoming{
    margin-top: 50px;
}
._event__card{
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    height: 310px;
    overflow: hidden;
}
.section__seven{
    padding-top: 80px;
    background-color: #FBFBFB;
}
.__sec_title h1{
    font-family: 'Bungee', cursive;
    
    text-align: center;
}
.__sec_title span{
    color: #FF2473;
    
    text-align: center;
}
.__testi_card{
    background-color: #082D3A;
    color: white;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: relative;
}
.__image__main{
    place-content: center;
    display: flex;
    margin-top: -60px;
}
.__testi_card{
    border-radius: 15px;
    margin-bottom: 75px;
}

.__testi_card img{
    border-radius: 69px;
    height: 136px;
    padding: 4px;
    background: white;
}
.__sec_title{
    margin-bottom: 90px;
}
.__testi__content{
 
    margin-top: 20px;
    text-align: center;
}
.__testi__content h3{
    font-family: 'Bungee', cursive;

    margin-bottom: 10px;
}

/* sectioneight */

.section__eight{
    padding-top: 80px;
    background-color: #FBFBFB;
}

.__sec__news__eight h1{
    font-family: 'Bungee', cursive;
}
.__sec__news__eight span{
    color: #FF2473;
}
.__news_card{
    background-color:rgba(11, 48, 62, 0.89);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



.__news__photo{
    width: 100%;
    height: 145px;
    overflow: hidden;
}

.__news__photo img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
}
._right_news__{
    position: relative;
    overflow: hidden;
    height: 143px;
}
.__meta__news{
    position: absolute;
    bottom: 11px;
    right: 0;

}

.__meta__news span{
    cursor: pointer;
}
.__meta__news span:nth-child(1){
    background-color: rgba(255, 255, 255, 0.8);
    padding: 7px;
    border-radius: 12px;
    color: #2F2F2F;
    font-size: 14px;
    margin-right: 10px;
    font-family: 'Archivo', sans-serif;

}
.__meta__news span:nth-child(2){
    background-color:#FF2473;
    padding: 7px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Archivo', sans-serif;

}
.__short_ttl h3{
    color: #fff;
    font-size: 20px;
    font-family: 'Archivo', sans-serif;
    margin-top: 10px;

}


.__meta__news i{
        margin-right: 10px;
}

.__tabs__news{
    margin-top: 20px;
}
.nav__items__social{
    display: flex;
    justify-content: center;
    background: antiquewhite;
    padding: 16px;
    padding-bottom: 5px;
    background: #083041;
    border-radius: 58px;
}
.nav-item{
    margin-right: 10px;
}
.nav-pills .nav-link.active{
    border-bottom: 4px solid #ff2473;
    background: unset;
}